@{
    ViewData["Title"] = "Home Page";
}

<!doctype html>
<html>

    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Danny Rene Rodriguez - Eligibility Assignment</title>
        <link rel="Shortcut Icon" href="/favicon.ico" type="image/x-icon" />
        <meta http-equiv="pragma" content="no-cache" />
        <meta name="robots" content="all" />
        <meta name="MSSmartTagsPreventParsing" content="true" />
        <meta http-equiv="imagetoolbar" content="false" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    </head>

    <body>
        <section>

            <div id="Cover">
                <img src="img/Cover.png"/>
            </div>
        </section>
        

        <div id="About Me">
        <p> Hello, my name is Danny Rodriguez.  I was born and raised in Miami, Florida.  I went to Gulliver Prep in Pinecrest for high school, graduated in 2014.  From there I went to University of Notre Dame in South
            Bend, IN.  I spent 3 years there, initially majoring in Mechanical Engineering, switched to Math and Economics, switched a few more times before landing on IT Management.  I left Notre Dame 
            in 2017 and came home to finish my degree here.  Since I had to take at least 60 credits I decided to switch my major again, this time to Computer Science.  I've done pretty well, I've worked
            full time since I came back and managed to squeeze out a 3.45GPA.  I would say that I am pretty well versed in Computer Science in general, but my strengths are Math and problem solving.
            Some other potentially relevant information is that I work on a PC I built with Windows 10.  I also have a Macbook, but it's mostly for entertainment and whatnot.  Besides that, I'm also
            starting a media company and a podcast so I've got a whole bunch of audio and video equipment hooked up to my desk.  Don't ask about the podcast, you probably won't like what it is about... 
            (psst... it's political).  Anyways, I'm working part time this semester, my hours are Mondays, Wednesdays, & Thursdays but that is subject to change. I'm looking for a partner who is going to
            be communicative and hardworking.  I don't care if you're very knowledgeable or experienced, just as long as you're willing to learn and get an A.</p>
          </div>


</body>
</html>